.w3-bar1 {
    width: 100%;
    overflow: hidden; 
    background-color: #7D8B96;
    
}

.w3-center .w3-bar1 {
    display: inline-block;
    width: auto
}

.w3-bar1 .w3-bar-item {
    padding: 14px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    text-decoration: none;
}

.w3-button1:hover {
    color: #000!important;
    background-color: #d7dedc!important;
    text-decoration: none;
}

.w3-button1 {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}